<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Meta information -->
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ page.title }} - Severin Kaderli</title>
		<meta name="description" content="The personal website of Severin Kaderli.">
		<meta name="theme-color" content="#FF6C0D">
		<!-- Styles & Fonts -->
		<base href="{{ site.url }}/">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
		<!-- in your header -->
		<link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
		<link rel="stylesheet" type="text/css" href="assets/styles/main.css">
	</head>
	<body>
		<div class="main-container">
		{% include navigation.html %}
		{% include header.html %}