
body {
	font-family: "Noto Sans", sans-serif;
	width: 1024px;
	margin: 0 auto;
	font-size: 14px;
}

h1 > small,
h2 > small,
h3 > small,
h4 > small,
h5 > small,
h6 > small {
	font-weight: normal;
}

a {
	color: blue;
	text-decoration: none;
	&:visited {
		text-decoration: none;
		color: blue;
	}
	&:hover {
		text-decoration: underline;
	}
}

.home {
	h2 {
		text-align: center;
	}
	header {
		text-align: center;
	}

	header:after,
	#projects:after,
	#blog:after {
		display: block;
		content: "";
		width: 50%;
		margin: 0 auto;
		border-bottom: 1px solid black;
	}

	#projects {
		h3 {
			margin-bottom: 0;
		}
		.project-description {
			p {
				width: 80%;
				display: inline-block;
			}

			img {
				width: 20%;
				height: auto;
				display: inline-block;
			}
		}
	}

	#blog {
		article {
			margin: 0;
		}
		h3 {
			margin: 0;
			small {
				margin-right: 5px;
			}
		}
	}

}
