<!DOCTYPE html>
<html>
	{% include head.html %}
	<body class="home">
		<header>
			<h2>Severin Kaderli</h2>
			<p>
				Web developer
			</p>
			<p>
				<i class="fa fa-github"></i> <a href="">GitHub</a>
			</p>
		</header>
		<section id="projects">
			<h2>Projects</h2>
			{% for project in site.projects %}
				<article class="project">
					<h3>{{project.name}}</h3>
				</article>
			{% endfor %}
			{{site.collections.projects}}
			
		</section>
		<section id="blog">
			<h2>Blog</h2>
			{% for post in site.posts limit:5 %}
				<article class="post">
					<h3><small>{{post.date | date: "%F"}}</small> <a href="{{post.url}}">{{post.title}}</a></h3>
				</article>
			{% endfor %}
		</section>
		<footer>
			&copy;2017 - Severin Kaderli
		</footer>
	</body>
</html>